.titulo{
    font-size: 50px;
    font-family: 'ABeeZee', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: #6F1A26;
}
/*centrado*/
.formulario{
    padding-left: 30%;
	padding-top:3%;
}
 input{
    border-radius: 6px;
    font-size: 14px;
    font-family: 'ABeeZee', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color:#6F1A26;
    border-width: 1px;  
}
.submit{
    background-color: #6F1A26;
    color: white; 
    box-shadow: 5px 5px 3px #D6DBCC;
}
.submit:hover{
    opacity:.85;
    cursor: pointer; 
    background-color: #6F1A26;
    color: white; 
    
}

.hoberg:active{
	box-shadow: none;
}
hr{
color:#6F1A26;
}